@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');



    
    $azul1: hsl(193, 68%, 57%);
    $azul2: hsl(201, 100%, 34%);
    $black: hsl(144,18%, 5%);
    $roxo: hsl(255,29%,28%);

    
    $roxo1: rgb(22, 18, 36);
    $white: hsl(0, 0%, 100%);

    $gray: #9b9b9b;

    $ff-overpass: 'Overpass', sans-serif;
    $fw-ov-300:300;
    $fw-ov-600:600;
    
    $ff-ubuntu: 'Ubuntu', sans-serif;
    $fw-ubu-400:400;
    $fw-ubu-500:500;
    $fw-ubu-700:700;





/*-----Formulario Header-------*/

$primary: #ff0043;
$secondary: #ea38a3;


.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: inherit;

    h1{
        font-size: 1.2rem;
        padding: 0 20px 0 20px;
        font-weight: 100;
    }
}
.form__group{
    position: relative;
    padding: 15px 0 0;
    width:60%;

}


.form__field{
    font-family: $ff-overpass;
    width:100%;
    border:0;
    border-bottom: 2px solid $gray;
    outline:0;
    font-size:1.3rem;
    margin-top: 20px;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder{
        color:transparent;
    }
    &:placeholder-shown ~ .form__label{
        font-size: 1.1rem;
        cursor: text;
        
    }

    &:placeholder-shown ~ .nome__class{
        top: 50px;
    }

    &:placeholder-shown ~ .telefone__class{
        top: 110px;
    }


}

.form__label{
    position: absolute;
    
    display: block;
    transition:0.2s;
    font-size:.9rem;
    color:$gray;
    font-family: $ff-overpass;
        
}
.nome__class{
    top:20px;
}
.telefone__class{
    top:80px;
}


.form__field:focus{
    ~ .form__label{
        position: absolute;
        
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $azul2;
        font-weight: 700;
    }

    ~ .nome__class{
        top:30px;
    }
    ~ .telefone__class{
        top:90px;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $azul1, $azul2);
    border-image-slice: 1;
}

.form__field{
    &:required, &:invalid {box-shadow: none;}
}

.center-button{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
.button{
    width:50%;
    height:30px;
    outline: 0;
    border: 2px solid $azul1;
    border-radius: 10px;
    background: transparent;
    color: $gray;
    font-family: $ff-overpass;
    font-size: 1rem;
    margin-top: 10px;
    transition: .3s;
    &:hover{
        border: none;
        background: $azul1;
        color:$black;
    }
}
}

/*-----FIM FORMULARIO-----*/

html{
    background: rgb(72,59,83);
    background: linear-gradient(6deg, rgba(72,59,83,1) 43%, rgba(0,0,0,1) 73%);
}
header{
    height: 90vh;
    width:100%;
    display: flex;
    flex-direction: column;

    .nav-navbrand{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:70px;
    

    .nav-brand{
        display: flex;
        flex-direction: column;
        
        margin: 20px 0 0 10px;
        font-size: 1.7rem;
        font-weight: 900;
        letter-spacing: 5px;

        

        a{
            color: $azul2;
            font-family: $ff-ubuntu;
            
        }
        small{
            font-size:.7rem;
            text-align: center;
            display:block;
            color: $azul1;
            font-family: $ff-ubuntu;
        }
        
    }
    }
    /*.form-contato{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 80%;
        .formulario{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            label{
                color: white;
                font-family: var(--ff-overpass);
            }
            
            
           
            input{
                outline: 1px solid white;
                height: 25px;
                border-radius: 15px;
                background-color: transparent;
                margin: 2px;
                color: var(--clr-white);
                font-size: 1.2rem;
                font-family: var(--ff-overpass);
            }
            
            .nome, .tel{
                width: 200px;
            }
            .button{
                width: 70px;
                height: 30px;
            }
            
        }
    }*/

    
    .capa{
        height: inherit;
        width:inherit;
        background-image: url("/img/capa.jpg");
        background-repeat: no-repeat;
        background-position: 50% 70%;
        background-size: cover;
        z-index:-10;
        opacity: .9;
        position: absolute;
        filter: grayscale(100%) opacity(.8);
    }
    h1{
        font-size: 2rem;
        text-align: center;
        color: $white;
        font-family: $ff-ubuntu;
        font-weight: 500;
        color: $white;
        
    }
    
    .container{
        height: inherit;
        width:100%;
        display: flex;
        align-items: baseline;
        justify-content: end;
        padding-right:10px;
        top:20px;
        position: absolute;
    
    
    #checkbox-menu{
        position: absolute;
        opacity: 0;
        
    }
    label{
        cursor: pointer;
        position:relative;
        display: block;
        height: 22px;
        width:30px;
        
       
    }
    label span{
        position: absolute;
        display: block;
        height: 5px;
        width:100%;
        border-radius: 30px;
        background: $white;
        transition: 0.25s ease-in-out;
        
    }
    label span:nth-child(1){
        top:0;
    }
    label span:nth-child(2){
        top:8px;
    }
    label span:nth-child(3){
        top:16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top:8px;
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity:0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
    }

    
}
    
    #menu{
        display: none;
    }

    input[type="checkbox"]{
        display:none;
    }
    input[type="checkbox"]:checked ~ nav{
        margin:0;
    }
    input[type="checkbox"]:checked ~ label{
        right:0;
    }
    input[type="checkbox"]:checked ~ section{
        
        transform:translate3d(250px, 0, 0);
    }
   

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 10px 10px 10px 32px;
        text-decoration: none;
        font-size: 1rem;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-weight: 300;
        font-family: $ff-ubuntu;
        text-transform: uppercase;
        cursor: pointer;
      }
      
      .sidenav a:hover {
        color: $azul1;
      }
      
    }

        

        
    


main{


    

    .wrap{
        margin-top: 100px;
        .container-servicos{
            h1{
                font-size: 2rem;
                color:$white;
                font-family: $ff-overpass;
                font-weight: 500;
                text-align: center;
                margin-bottom: 30px;
            }
            .servico{
                display: grid;
                grid-template-columns: 1fr;
                
                .servico1, .servico2, .servico3, .servico4, .servico5, .servico6{
                        &:hover{
                            h3{ opacity: 1;}
                        }
                        
                    .img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid $white;
                        border-left:0;
                        border-right: 0;
                        height: 200px;
                        opacity:.8;
                        filter: blur(3px);
                        transition: .3s ease all;

                        

                        &:hover{
                            filter:blur(0);
                            
                        }
                        
                        
                        
                    }
                    h3{
                        background: $roxo;
                        font-size:1.2rem;
                        padding:10px;
                        color: $white;
                        font-family: $ff-overpass;
                        opacity:0;
                        transition: .2s ease opacity;
                    }
                    
                    
                    
                }
                .servico1{
                    .img{
                    background-image:url("/img/img-higieniza.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                    }
                }
                .servico2{
                    .img{
                        background-image:url("/img/img-higieniza.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    
                }
                .servico3{
                    .img{
                        background-image:url("/img/img-higieniza.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    
                }
                .servico4{
                    .img{
                        background-image:url("/img/img-higieniza.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    
                }
                .servico5{
                    .img{
                        background-image:url("/img/img-higieniza.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    
                }
                .servico6{
                    .img{
                        background-image:url("/img/img-higieniza.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                        }
                    
                }
            }
        }
    }

    .container-planos{
        
        h1{
            margin: 20px 0 50px 0;
            font-size:2rem;
            font-weight: 900;
            padding:10px;
            color: $white;
            font-family: $ff-overpass;
            text-align: center;
            
            .italic{
               font-style: italic; 
            }
                 
        }
        .planos{
            height: 60vh;
            width: 300px;
            margin: 0 auto;
            border: 1px solid $white;
            margin-bottom: 50px;
            box-shadow: 2px 2px 4px $white;
                overflow: hidden;

                .container{
                    display: flex;
                transition: transform 0.5s ease-in-out;
                transform: translateX(0);
                    
            .plano1, .plano2, .plano3{
                height: 60vh;
            width: 80%;
                
            }

            .plano1{
                display: flex;
                flex-direction: column;
                color: $white;
                font-family: $ff-overpass;
                .titulo-plano{
                    font-size: 1.7rem;
                    font-weight: 900;
                    text-align: center;
                    padding: 20px;
                }
                .preco-plano{
                    font-size: 1.5rem;
                }

                
            }
        }
            
        }
    }
}

