@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --clr-azul1: hsl(193, 68%, 57%);
  --clr-azul2: hsl(201, 100%, 34%);
  --clr-black: hsl(144,18%, 5%);
  --clr-roxo: hsl(255,29%,28%);
  --clr-roxo1: rgb(22, 18, 36);
  --clr-white: hsl(0, 0%, 100%);
  --ff-overpass: 'Overpass', sans-serif;
  --fw-ov-300:300;
  --fw-ov-600:600;
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --fw-ubu-400:400;
  --fw-ubu-500:500;
  --fw-ubu-700:700;
}

html {
  background: #483b53;
  background: linear-gradient(6deg, #483b53 43%, black 73%);
}

header {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav-navbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .nav-navbrand .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 10px;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 5px;
}

header .nav-navbrand .nav-brand a {
  color: var(--clr-azul2);
  font-family: var(--ff-ubuntu);
}

header .nav-navbrand .nav-brand small {
  font-size: .7rem;
  text-align: center;
  display: block;
  color: var(--clr-azul1);
  font-family: var(--ff-ubuntu);
}

header .form-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80%;
}

header .form-contato .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .form-contato .formulario label {
  color: white;
  font-family: var(--ff-overpass);
}

header .form-contato .formulario input {
  outline: 1px solid white;
  height: 25px;
  border-radius: 15px;
  background-color: transparent;
  margin: 2px;
  color: var(--clr-white);
  font-size: 1.2rem;
  font-family: var(--ff-overpass);
}

header .form-contato .formulario .nome, header .form-contato .formulario .tel {
  width: 200px;
}

header .form-contato .formulario .button {
  width: 70px;
  height: 30px;
}

header .capa {
  height: inherit;
  width: inherit;
  background-image: url("/img/capa.jpg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  z-index: -10;
  opacity: .9;
  position: absolute;
  -webkit-filter: grayscale(100%) opacity(0.8);
          filter: grayscale(100%) opacity(0.8);
}

header h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--clr-white);
  font-family: var(--ff-ubuntu);
  font-weight: 500;
  color: var(--clr-white);
}

header .menu {
  display: none;
}

header .menu-burger {
  margin: 20px 0 0 100px;
}

main .wrap {
  margin-top: 100px;
}

main .wrap .container-servicos h1 {
  font-size: 2rem;
  color: white;
  font-family: var(--ff-overpass);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

main .wrap .container-servicos .servico {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .wrap .container-servicos .servico .servico1:hover h3, main .wrap .container-servicos .servico .servico2:hover h3, main .wrap .container-servicos .servico .servico3:hover h3, main .wrap .container-servicos .servico .servico4:hover h3, main .wrap .container-servicos .servico .servico5:hover h3, main .wrap .container-servicos .servico .servico6:hover h3 {
  opacity: 1;
}

main .wrap .container-servicos .servico .servico1 .img, main .wrap .container-servicos .servico .servico2 .img, main .wrap .container-servicos .servico .servico3 .img, main .wrap .container-servicos .servico .servico4 .img, main .wrap .container-servicos .servico .servico5 .img, main .wrap .container-servicos .servico .servico6 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  height: 200px;
  opacity: .8;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

main .wrap .container-servicos .servico .servico1 .img:hover, main .wrap .container-servicos .servico .servico2 .img:hover, main .wrap .container-servicos .servico .servico3 .img:hover, main .wrap .container-servicos .servico .servico4 .img:hover, main .wrap .container-servicos .servico .servico5 .img:hover, main .wrap .container-servicos .servico .servico6 .img:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
}

main .wrap .container-servicos .servico .servico1 h3, main .wrap .container-servicos .servico .servico2 h3, main .wrap .container-servicos .servico .servico3 h3, main .wrap .container-servicos .servico .servico4 h3, main .wrap .container-servicos .servico .servico5 h3, main .wrap .container-servicos .servico .servico6 h3 {
  background: var(--clr-roxo);
  font-size: 1.2rem;
  padding: 10px;
  color: var(--clr-white);
  font-family: var(--ff-overpass);
  opacity: 0;
  -webkit-transition: .2s ease opacity;
  transition: .2s ease opacity;
}

main .wrap .container-servicos .servico .servico1 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico .servico2 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico .servico3 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico .servico4 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico .servico5 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico .servico6 .img {
  background-image: url("/img/img-higieniza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main .container-planos h1 {
  margin: 20px 0 50px 0;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
  color: var(--clr-white);
  font-family: var(--ff-overpass);
  text-align: center;
}

main .container-planos .planos {
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  border: 1px solid white;
  margin-bottom: 50px;
}

main .container-planos .planos .plano1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--clr-white);
  font-family: var(--ff-overpass);
}

main .container-planos .planos .plano1 h4 {
  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */