@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
/*-----Formulario Header-------*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: inherit;
}

.form h1 {
  font-size: 1.2rem;
  padding: 0 20px 0 20px;
  font-weight: 100;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 60%;
  margin-bottom: 10px;
}

.form__field {
  font-family: "Overpass", sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  margin-top: 25px;
  color: white;
  padding: 7px 0;
  background: transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.form__field::-webkit-input-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.1rem;
  cursor: text;
}

.form__field:placeholder-shown ~ .nome__class {
  top: 50px;
}

.form__field:placeholder-shown ~ .telefone__class {
  top: 110px;
}

.form__label {
  position: absolute;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: .9rem;
  color: #9b9b9b;
  font-family: "Overpass", sans-serif;
}

.nome__class {
  top: 20px;
}

.telefone__class {
  top: 60px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #47bcdc, #0071ad);
     border-image: -webkit-gradient(linear, left top, right top, from(#47bcdc), to(#0071ad));
     border-image: linear-gradient(to right, #47bcdc, #0071ad);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 1rem;
  color: #0071ad;
  font-weight: 700;
}

.form__field:focus ~ .nome__class {
  top: 20px;
}

.form__field:focus ~ .telefone__class {
  top: 90px;
}

.form__field:required, .form__field:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.center-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-button .button {
  width: 50%;
  height: 30px;
  outline: 0;
  border: 2px solid #47bcdc;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.center-button .button:hover {
  border: none;
  background: #47bcdc;
  color: #0a0f0c;
}

/*-----FIM FORMULARIO-----*/
html {
  background: #483b53;
  background: linear-gradient(6deg, #483b53 43%, black 73%);
}

header {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*.form-contato{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 80%;
        .formulario{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            label{
                color: white;
                font-family: var(--ff-overpass);
            }
            
            
           
            input{
                outline: 1px solid white;
                height: 25px;
                border-radius: 15px;
                background-color: transparent;
                margin: 2px;
                color: var(--clr-white);
                font-size: 1.2rem;
                font-family: var(--ff-overpass);
            }
            
            .nome, .tel{
                width: 200px;
            }
            .button{
                width: 70px;
                height: 30px;
            }
            
        }
    }*/
}

header .nav-navbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

header .nav-navbrand .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0 10px;
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 5px;
}

header .nav-navbrand .nav-brand a {
  color: #0071ad;
  font-family: "Ubuntu", sans-serif;
}

header .nav-navbrand .nav-brand small {
  font-size: .7rem;
  text-align: center;
  display: block;
  color: #47bcdc;
  font-family: "Ubuntu", sans-serif;
}

header .capa {
  height: inherit;
  width: inherit;
  background-image: url("/img/capa.jpg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: cover;
  z-index: -10;
  opacity: .9;
  position: absolute;
  -webkit-filter: grayscale(100%) opacity(0.8);
          filter: grayscale(100%) opacity(0.8);
}

header h1 {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: white;
}

header .container {
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 10px;
}

header .container #checkbox-menu {
  position: absolute;
  opacity: 0;
}

header .container label {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  display: block;
  right: 10px;
  height: 22px;
  width: 30px;
}

header .container label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: white;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

header .container label span:nth-child(1) {
  top: 0;
}

header .container label span:nth-child(2) {
  top: 8px;
}

header .container label span:nth-child(3) {
  top: 16px;
}

header .container #checkbox-menu:checked + label span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

header .container #checkbox-menu:checked + label span:nth-child(2) {
  opacity: 0;
}

header .container #checkbox-menu:checked + label span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

header #menu {
  display: none;
}

header input[type="checkbox"] {
  display: none;
}

header input[type="checkbox"]:checked ~ nav {
  margin: 0;
}

header input[type="checkbox"]:checked ~ label {
  right: 10px;
}

header input[type="checkbox"]:checked ~ section {
  -webkit-transform: translate3d(250px, 0, 0);
          transform: translate3d(250px, 0, 0);
}

header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  padding-top: 60px;
}

header .sidenav #rede-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .sidenav #rede-social a {
  margin-top: 40px;
  padding: 10px;
}

header .sidenav a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

header .sidenav a:hover {
  color: #47bcdc;
}

main .wrap {
  margin-top: 100px;
}

main .wrap .container-servicos h1 {
  font-size: 2rem;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

main .wrap .container-servicos .servico {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

main .wrap .container-servicos .servico #servico1, main .wrap .container-servicos .servico #servico2, main .wrap .container-servicos .servico #servico3, main .wrap .container-servicos .servico #servico4, main .wrap .container-servicos .servico #servico5, main .wrap .container-servicos .servico #servico6 {
  height: 200px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background-repeat: no-repeat;
  background-size: cover;
}

main .wrap .container-servicos .servico #servico1:hover, main .wrap .container-servicos .servico #servico2:hover, main .wrap .container-servicos .servico #servico3:hover, main .wrap .container-servicos .servico #servico4:hover, main .wrap .container-servicos .servico #servico5:hover, main .wrap .container-servicos .servico #servico6:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
}

main .wrap .container-servicos .servico #servico1:hover h3, main .wrap .container-servicos .servico #servico2:hover h3, main .wrap .container-servicos .servico #servico3:hover h3, main .wrap .container-servicos .servico #servico4:hover h3, main .wrap .container-servicos .servico #servico5:hover h3, main .wrap .container-servicos .servico #servico6:hover h3 {
  opacity: 1;
}

main .wrap .container-servicos .servico #servico1 .img-serv, main .wrap .container-servicos .servico #servico2 .img-serv, main .wrap .container-servicos .servico #servico3 .img-serv, main .wrap .container-servicos .servico #servico4 .img-serv, main .wrap .container-servicos .servico #servico5 .img-serv, main .wrap .container-servicos .servico #servico6 .img-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid white;
  border-left: 0;
  border-right: 0;
  height: 200px;
  opacity: .8;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

main .wrap .container-servicos .servico #servico1 .img-serv:hover, main .wrap .container-servicos .servico #servico2 .img-serv:hover, main .wrap .container-servicos .servico #servico3 .img-serv:hover, main .wrap .container-servicos .servico #servico4 .img-serv:hover, main .wrap .container-servicos .servico #servico5 .img-serv:hover, main .wrap .container-servicos .servico #servico6 .img-serv:hover {
  -webkit-filter: blur(0);
          filter: blur(0);
}

main .wrap .container-servicos .servico #servico1 h3, main .wrap .container-servicos .servico #servico2 h3, main .wrap .container-servicos .servico #servico3 h3, main .wrap .container-servicos .servico #servico4 h3, main .wrap .container-servicos .servico #servico5 h3, main .wrap .container-servicos .servico #servico6 h3 {
  background: #3d335c;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
  font-family: "Overpass", sans-serif;
  opacity: 0;
  -webkit-transition: .2s ease opacity;
  transition: .2s ease opacity;
}

main .wrap .container-servicos .servico #servico1 {
  background-image: url("/img/img-higieniza.jpg");
}

main .wrap .container-servicos .servico #servico2 {
  background-image: url("/img/img-higieniza.jpg");
}

main .wrap .container-servicos .servico #servico3 {
  background-image: url("/img/img-higieniza.jpg");
}

main .wrap .container-servicos .servico #servico4 {
  background-image: url("/img/img-higieniza.jpg");
}

main .wrap .container-servicos .servico #servico5 {
  background-image: url("/img/img-higieniza.jpg");
}

main .wrap .container-servicos .servico #servico6 {
  background-image: url("/img/img-higieniza.jpg");
}

main .container-planos h1 {
  margin: 20px 0 50px 0;
  font-size: 2rem;
  font-weight: 900;
  padding: 10px;
  color: white;
  font-family: "Overpass", sans-serif;
  text-align: center;
}

main .container-planos h1 .italic {
  font-style: italic;
}

main .container-planos .planos {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

main .container-planos .planos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main .container-planos .planos .container .plano {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background: #0a0f0c;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: "Overpass", sans-serif;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 10px #9b9b9b;
          box-shadow: 5px 5px 10px #9b9b9b;
}

main .container-planos .planos .container .card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

main .container-planos .planos .container .card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .container-planos .planos .container .card .front-card, main .container-planos .planos .container .card .back-card {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .container-planos .planos .container .card .front-card {
  color: black;
}

main .container-planos .planos .container .card .back-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

main .container-planos .planos .container .titulo-plano {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  padding: 30px  0;
  margin-bottom: 50px;
  color: #0071ad;
}

main .container-planos .planos .container .preco-plano {
  font-size: 1.5rem;
  font-weight: 900;
  color: #47bcdc;
}

main .container-planos .planos .container .info-plano {
  margin-top: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container-planos .planos .container .info-plano ul {
  list-style: disc;
}

main .container-planos .planos .container .info-plano ul li {
  margin-left: 20px;
  padding-bottom: 20px;
}

main .container-planos .planos .container .info-plano .saibamais {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #onde {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

main #onde h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
}

footer {
  background: #0a0f0c;
  height: 100px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .atribuicao {
  font-family: "Overpass", sans-serif;
  font-size: .8rem;
  color: white;
  text-align: center;
}

footer .atribuicao .fab {
  padding: 5px;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .atribuicao .fab:hover {
  color: white;
}

footer .atribuicao a {
  color: #47bcdc;
}

.button {
  width: 100px;
  height: 40px;
  outline: 0;
  border: 1px solid #47bcdc;
  background: transparent;
  color: white;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.button:hover {
  background: #47bcdc;
}

@media (min-width: 768px) {
  body header {
    height: 60vh;
  }
  body header .nav-navbrand {
    height: 100px;
    margin-top: 20px;
  }
  body header .nav-navbrand .nav-brand {
    margin: 20px 0 0 20px;
    font-size: 2rem;
    letter-spacing: 7px;
  }
  body header .nav-navbrand .nav-brand small {
    font-size: .9rem;
  }
  body header .capa {
    background-position: -200px -10px;
  }
  body main .wrap {
    margin-top: 200px;
  }
  body main .wrap .container-servicos h1 {
    font-size: 3rem;
    margin-bottom: 60px;
  }
  body main .wrap .container-servicos .servico {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  body main .wrap .container-servicos .servico #servico1, body main .wrap .container-servicos .servico #servico2, body main .wrap .container-servicos .servico #servico3, body main .wrap .container-servicos .servico #servico4, body main .wrap .container-servicos .servico #servico5, body main .wrap .container-servicos .servico #servico6 {
    height: 200px;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transition: .2s;
    transition: .2s;
  }
  body main .wrap .container-servicos .servico #servico1:hover, body main .wrap .container-servicos .servico #servico2:hover, body main .wrap .container-servicos .servico #servico3:hover, body main .wrap .container-servicos .servico #servico4:hover, body main .wrap .container-servicos .servico #servico5:hover, body main .wrap .container-servicos .servico #servico6:hover {
    -webkit-filter: blur(0);
            filter: blur(0);
    border: 1px solid white;
  }
  body main .wrap .container-servicos .servico #servico1:hover h3, body main .wrap .container-servicos .servico #servico2:hover h3, body main .wrap .container-servicos .servico #servico3:hover h3, body main .wrap .container-servicos .servico #servico4:hover h3, body main .wrap .container-servicos .servico #servico5:hover h3, body main .wrap .container-servicos .servico #servico6:hover h3 {
    opacity: 1;
  }
  body main .wrap .container-servicos .servico #servico1 .img-serv, body main .wrap .container-servicos .servico #servico2 .img-serv, body main .wrap .container-servicos .servico #servico3 .img-serv, body main .wrap .container-servicos .servico #servico4 .img-serv, body main .wrap .container-servicos .servico #servico5 .img-serv, body main .wrap .container-servicos .servico #servico6 .img-serv {
    border: 0;
  }
  body main .container-planos h1 {
    font-size: 3rem;
  }
  body main .container-planos .planos {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main .container-planos .planos .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px;
  }
  body main .container-planos .planos .container .plano {
    margin: 5px;
    width: 300px;
    max-height: 550px;
    height: 550px;
    width: 80%;
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 10px #9b9b9b;
            box-shadow: 5px 5px 10px #9b9b9b;
  }
}

@media (min-width: 1024px) {
  body header .nav-navbrand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body header .nav-navbrand .container {
    width: 0;
  }
  body header .nav-navbrand #menu {
    display: block;
    width: 100%;
  }
  body header .nav-navbrand #menu .sidenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 100px;
    width: 100%;
    position: relative;
    background-color: transparent;
    -webkit-transition: .5s;
    transition: .5s;
    padding-top: 60px;
  }
  body header .nav-navbrand #menu .sidenav #rede-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 300px;
    margin-left: 200px;
  }
  body header .nav-navbrand #menu .sidenav #rede-social a {
    margin-top: 0;
    padding-left: 25px;
  }
  body header .nav-navbrand #menu .sidenav #sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }
  body header .nav-navbrand #menu .sidenav .menu a:hover {
    color: #47bcdc;
  }
  body header .nav-navbrand .container label {
    display: none;
  }
  body main .container-planos h1 {
    font-size: 3rem;
  }
  body main .container-planos .planos .container {
    margin: 0 auto;
  }
  body main .container-planos .planos .container .plano {
    margin: 15px;
    width: 300px;
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: 5px 5px 10px #9b9b9b;
            box-shadow: 5px 5px 10px #9b9b9b;
  }
}
/*# sourceMappingURL=style.css.map */